{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Eventos Creados</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'Aplicaciones:dashboard' %}">Inicio</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}