{% load static %}

<aside class="left-sidebar scrollable ps-container ps-theme-default ps-active-y" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
         <!-- Barra de navegacion vertical-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'Aplicaciones:dashboard' %}" aria-expanded="false"><i
                            class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'Aplicaciones:charts' %}" aria-expanded="false"><i
                            class="mdi mdi-chart-bar"></i><span class="hide-menu">Dashboard Estadistico</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'Aplicaciones:crear_evento' %}" aria-expanded="false"><i
                            class="mdi mdi-pencil"></i><span class="hide-menu">Creacion de Eventos</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'Aplicaciones:event_creado' %}" aria-expanded="false"><i
                            class="mdi mdi-receipt"></i><span class="hide-menu">Eventos Creados</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'Aplicaciones:Inscripciones' %}" aria-expanded="false"><i
                            class="mdi mdi-arrow-all"></i><span class="hide-menu">Inscripciones</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'Aplicaciones:autent_qr' %}" aria-expanded="false"><i
                            class="mdi mdi-border-outside"></i><span class="hide-menu">Autentificacion QR</span></a>



            </ul>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>